rscRectFundoAmarelo RCDATA "SicsOnline\\rectFundoAmarelo.png"
rscRectFundoVerde RCDATA "SicsOnline\\rectFundoVerde.png"
rscRectFundoVermelho RCDATA "SicsOnline\\rectFundoVermelho.png"
rscRectNumAmarelo RCDATA "SicsOnline\\rectNumAmarelo.png"
rscRectNumVerde RCDATA "SicsOnline\\rectNumVerde.png"
rscRectNumVermelho RCDATA "SicsOnline\\rectNumVerm.png"
rscRectPrioritario RCDATA "SicsOnline\\rectPrioritario.png"
rscRectFundoLaranja RCDATA "SicsOnline\\rectFundoLaranja.png"
rscRectNumLaranja RCDATA "SicsOnline\\rectNumLaranja.png"
